@import "./../../node_modules/bulma/sass/utilities/initial-variables"

$dark-blue: #2D3947
$primary: $dark-blue

$navbar-background-color: $dark-blue
$navbar-item-color: $white

$fa-font-path: "./../../node_modules/font-awesome/fonts/";
@import './../../node_modules/font-awesome/scss/font-awesome'

@import './../../node_modules/bulma/bulma'
@import './../../node_modules/bulma-calendar/calendar'
@import './../../node_modules/bulma-pageloader/pageloader'
@import './../../node_modules/bulma-tooltip/tooltip'

html,
body
    font-size: 14px

.navbar-bg
    background-color: $dark-blue
    .title
        color: $white
