.email-media {
    align-items: flex-start;
    display: flex;
    text-align: left;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid rgba($border, 0.5);

    .email-media-avatar {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .email-media-avatar {
        margin-right: 1rem;
    }

    &.is-expanded {
        .email-media-preview {
            display: none;
        }
    }

    &.is-collapsed {
        .email-media-content {
            display: none;
        }
    }

    .email-media-date {
        font-size: .85rem;
    }

    .email-media-preview {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
        align-items: flex-start;
        display: flex;
        text-align: left;

        .email-media-preview-summary {
            flex-basis: auto;
            flex-grow: 1;
            flex-shrink: 1;
            height: 48px;
            display: flex;
            flex-flow: column nowrap;
        }

        .email-media-date {
            flex-basis: auto;
            flex-grow: 0;
            flex-shrink: 0;
            min-height: 48px;
            display: flex;
            align-items: flex-end;
            margin-left: 2rem;
        }

        .prepare-truncate {
            display: table;
            table-layout: fixed;
            width: 100%;
            margin-top: auto;
        }

        .email-media-preview-body {
            display: table-cell;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: .85rem;
        }

    }

    .email-media-content {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;

        .email-media-content-header {
            padding-bottom: 1rem;
        }
    }

}
