@import '~bulma/bulma.sass';
@import '~bulma-pageloader/dist/css/bulma-pageloader.sass';
@import '~bulma-checkradio/dist/css/bulma-checkradio.sass';
@import './lib-adapter/_all.scss';
@import './loader.scss';
@import './toast.scss';

html {
    overflow: hidden
}

.columns {
    &.is-inbox {
        height: calc(100vh - #{$navbar-height});

        .column {
            &.is-main-menu {
                background-color: $white-ter;
            }

            &.is-email-list {
                // padding: 1.5rem !important;
                height: calc(100vh - #{$navbar-height * 2});
                overflow: hidden auto;
                border-right: 1px solid $border;

                .email-preview-container {
                    position: relative;
                    border-top: 1px solid $border;


                    &:last-child {
                        // padding-bottom: $media-margin;
                        border-bottom: 1px solid $border;
                    }
                }

                .media.is-email-preview {
                    padding-right: $media-margin;


                    &.is-unread {
                        &::before {
                            border-left: 4px solid $primary;
                            position: absolute;
                            height: 100%;
                            top: 0;
                            content: "";
                            display: block;
                        }

                        .email-subject {
                            font-weight: $weight-bold;
                        }
                    }

                    &:first-child {
                        padding-top: $media-margin;
                    }

                    &:hover {
                        background-color: $grey-lighter;
                        .is-checkradio[type="checkbox"] {
                            &.is-outlined {
                                + label {
                                    &::before,
                                    &:before {
                                        border-color: $background;
                                    }

                                    &::after,
                                    &:after {
                                        border-color: $background;
                                    }
                                }

                                &:hover:not(:checked) {
                                    + label {
                                        &::before,
                                        &:before {
                                            border-color: $background !important;
                                        }

                                        &::after,
                                        &:after {
                                            border-color: $background !important;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.is-active {
                        $color: lighten($primary, 15%);
                        background-color: $color;
                        color: findColorInvert($color);

                        .media-content {
                            .email-sender {
                                color: findColorInvert($color);
                            }
                        }
                    }

                    .media-content {
                        .email-sender {
                            font-weight: $weight-semibold;
                            font-size: $size-7;
                            color: $grey-dark;
                        }
                    }

                    .media-left {
                        .is-checkradio {
                            // margin-right: $media-margin;
                            padding: 0;

                            + label {
                                padding-left: 0;
                            }
                        }
                    }

                    .media-right.is-info-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .is-date {
                            font-weight: $weight-light;
                        }
                    }
                }
            }
        }
    }
}

.menu.sidebar-main {
    .menu-label {
        margin-left: 1rem;
    }

    .menu-list {
        li > a {
            .icon {
                margin-left: 1rem;
                margin-right: 1rem;
            }

            &.is-active {
                background-color: $grey-lighter;
                color: $text;
                font-weight: $weight-bold;
            }

            &:hover {
                background-color: $grey-lighter;
            }
        }
    }
}

.media {
    &.is-email-preview {
        cursor: pointer;
        margin-top: 0;
        padding-bottom: $media-margin;

        .media-left {
            margin-left: $media-margin;
            margin-top: .5rem;
        }
    }
}

.level {
    &.is-menubar {
        .buttons {
            margin-bottom: 0;
            margin-right: 3rem;

            .button {
                margin-bottom: 0;
            }
        }

        background-color: $white-ter;

        height: $navbar-height;
    }
}

.email-view {
    .is-header {
        padding: 1rem;
        border-bottom: 1px solid rgba($border, 0.5);
        margin-bottom: 1rem;
    }
}

.checked-summary {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    .checked-summary-item {

        &.is-centered {
            text-align: center;
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

@import './email-media.scss';
@import './composer.scss';

.force-disabled-style {
    cursor: not-allowed;
    opacity: 0.5;
}
