@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Customize
// Colors
$primary: #2D3947;
// Links
$link-hover: #00D1B2;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import '~bulma/bulma.sass';
@import '~bulma-pageloader/dist/css/bulma-pageloader.sass';

html,
body {
    font-size: 14px;
}

.navbar-bg {
    background-color: $primary;
    .title {
        color: $white;
    }
}

.navbar {
    .image {
        img {
            height: 100%;
            max-height: inherit;
        }
    }
    .button {
        i {
            margin-right: 5px;
        }
    }
}

.vote-area > * {
    margin-right: .5em;
}
