@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Customize
$body-size: 14px;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// Bulma is hard coding this value but we use a variable
// in our customisation code
$media-margin: 1rem;

// Checkradio
$checkbox-checked-width: .15rem;
$checkbox-border: .15rem solid $grey-lighter;
